.InfoBox {}

.InfoBox-rect {
  fill: #ffffff;
}

.InfoBox-text-date {
  fill: #b4b3b3;
  font-size: 13pt;
}

.InfoBox-text-value {
  fill: #222222;
}

.InfoBox-diff-higher {
  fill: #22a053;
}

.InfoBox-diff-lower {
  fill: #9f2121;
}

.InfoBox-diff-stable {
  fill: #999f21;
}
