.ValueGuide {
  cursor: pointer;
}

.ValueGuide-line {
  stroke: transparent;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-dasharray: 10, 10;
}

.ValueGuide-line-hovered {
  stroke: #c2c5c8;
}

.ValueGuide-click-target {
  fill: transparent;
}
